


@media only screen and (min-width: 1200px) {

    body { font-size: 14px; }
    
    .sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.5;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-variant: small-caps;
}

.sidepanel h3{
padding-bottom: 0.5em;
     text-decoration: none;
  font-size: 1.5em;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-variant: small-caps;
    
        }        
.sidepanel h3:hover {
  color: #f1f1f1;
}
        
.sidepanel p{
   padding-bottom: 1em;
     text-decoration: none;
  font-size: 1em;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-variant: small-caps;         
        }
        
   .sidepanel p:hover {
  color: #f1f1f1;
}     
        
.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 20px;
}
        
.control-bar{

  background-color: #000;
    width: 50vw;
    padding: 0.3em;
    margin-top: -1.5em;
    margin-bottom: 0.5em;
    top: 0;
    left: 0;
    right: 0;
}
        
.control-bar:not(p) .openbtn:hover,
        .control-bar:not(p) .homebtn:hover
        {
    transition: 0.3s;
  font-size : 1.5em;
    opacity: 0.5;
        
}
        
.control-bar p{
    font-size: 1.5em;
}



.openbtn {
  font-size: 1.3em;
  cursor: pointer;
  background-color: inherit;
  color: white;
/*  padding: 5px 5px;*/
  border: none;
  font-variant: small-caps;
    float: left;
    transition: 0.3s;
}
        
        .homebtn{
  font-size: 1.3em;
  cursor: pointer;
  background-color: inherit;
  color: white;
/*  padding: 5px 5px;*/
  border: none;
  font-variant: small-caps;
    float: right;
    transition: 0.3s;
}
        .homebtn a{
            text-decoration: none;
            color: white;
        }

}


/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {

    body {
        font-size: 12px;
    }

   
    .sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.5;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-variant: small-caps;
}

.sidepanel h3{
padding-bottom: 0.5em;
     text-decoration: none;
  font-size: 1.5em;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-variant: small-caps;
    
        }        
.sidepanel h3:hover {
  color: #f1f1f1;
}
        
.sidepanel p{
   padding-bottom: 1em;
     text-decoration: none;
  font-size: 1em;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-variant: small-caps;         
        }
        
   .sidepanel p:hover {
  color: #f1f1f1;
}     
        
.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 20px;
}
        
 .control-bar{

  background-color: #000;
    width: 50vw;
    padding: 0.3em;
    margin-top: -1.2em;
    margin-bottom: 0.2em;
    top: 0;
    left: 0;
    right: 0;
}
    
        
.control-bar:not(p) .openbtn:hover,
        .control-bar:not(p) .homebtn:hover
        {
    transition: 0.3s;
  font-size : 1.5em;
    opacity: 0.5;
        
}
        
.control-bar p{
    font-size: 1.5em;
}



.openbtn {
  font-size: 1.3em;
  cursor: pointer;
  background-color: inherit;
  color: white;
/*  padding: 5px 5px;*/
  border: none;
  font-variant: small-caps;
    float: left;
    transition: 0.3s;
}
        
        .homebtn{
  font-size: 1.3em;
  cursor: pointer;
  background-color: inherit;
  color: white;
/*  padding: 5px 5px;*/
  border: none;
  font-variant: small-caps;
    float: right;
    transition: 0.3s;
}
        .homebtn a{
            text-decoration: none;
            color: white;
        }
    
}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    body { font-size: 10px; }
    .sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.5;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-variant: small-caps;
}

.sidepanel h3{
padding-bottom: 0.5em;
     text-decoration: none;
  font-size: 1.5em;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-variant: small-caps;
    
        }        
.sidepanel h3:hover {
  color: #f1f1f1;
}
        
.sidepanel p{
   padding-bottom: 1em;
     text-decoration: none;
  font-size: 1em;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-variant: small-caps;         
        }
        
   .sidepanel p:hover {
  color: #f1f1f1;
}     
        
.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 20px;
}
        
.control-bar{

  background-color: #000;
    width: 100vw;
    padding: 0.3em;
    margin-top: -1.5em;
    margin-bottom: 0.5em;
    top: 0;
    left: 0;
    right: 0;
}
        
.control-bar:not(p) .openbtn:hover,
        .control-bar:not(p) .homebtn:hover
        {
    transition: 0.3s;
  font-size : 1.5em;
    opacity: 0.5;
        
}
        
.control-bar p{
    font-size: 1.5em;
}



.openbtn {
  font-size: 1.3em;
  cursor: pointer;
  background-color: inherit;
  color: white;
/*  padding: 5px 5px;*/
  border: none;
  font-variant: small-caps;
    float: left;
    transition: 0.3s;
}
        
        .homebtn{
  font-size: 1.3em;
  cursor: pointer;
  background-color: inherit;
  color: white;
/*  padding: 5px 5px;*/
  border: none;
  font-variant: small-caps;
    float: right;
    transition: 0.3s;
}
        .homebtn a{
            text-decoration: none;
            color: white;
        }
}
    

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    body { font-size: 8px; }   
    .sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.5;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-variant: small-caps;
}

.sidepanel h3{
padding-bottom: 0.5em;
     text-decoration: none;
  font-size: 1.5em;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-variant: small-caps;
    
        }        
.sidepanel h3:hover {
  color: #f1f1f1;
}
        
.sidepanel p{
   padding-bottom: 1em;
     text-decoration: none;
  font-size: 1em;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-variant: small-caps;         
        }
        
   .sidepanel p:hover {
  color: #f1f1f1;
}     
        
.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 20px;
}
        
.control-bar{

  background-color: #000;
    width: 100vw;
    padding: 0.3em;
    margin-top: -1.5em;
    margin-bottom: 0.5em;
    top: 0;
    left: 0;
    right: 0;
}
        
.control-bar:not(p) .openbtn:hover,
        .control-bar:not(p) .homebtn:hover
        {
    transition: 0.3s;
  font-size : 1.5em;
    opacity: 0.5;
        
}
        
.control-bar p{
    font-size: 1.5em;
}



.openbtn {
  font-size: 1.3em;
  cursor: pointer;
  background-color: inherit;
  color: white;
/*  padding: 5px 5px;*/
  border: none;
  font-variant: small-caps;
    float: left;
    transition: 0.3s;
}
        
        .homebtn{
  font-size: 1.3em;
  cursor: pointer;
  background-color: inherit;
  color: white;
/*  padding: 5px 5px;*/
  border: none;
  font-variant: small-caps;
    float: right;
    transition: 0.3s;
}
        .homebtn a{
            text-decoration: none;
            color: white;
        }
}





/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    body { font-size: 6px; }
   .sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.5;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-variant: small-caps;
}

.sidepanel h3{
padding-bottom: 0.5em;
     text-decoration: none;
  font-size: 1.5em;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-variant: small-caps;
    
        }        
.sidepanel h3:hover {
  color: #f1f1f1;
}
        
.sidepanel p{
   padding-bottom: 1em;
     text-decoration: none;
  font-size: 1em;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-variant: small-caps;         
        }
        
   .sidepanel p:hover {
  color: #f1f1f1;
}     
        
.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 20px;
}
        
.control-bar{

  background-color: #000;
    width: 100vw;
    padding: 0.3em;
    margin-top: -1.5em;
    margin-bottom: 0.5em;
    top: 0;
    left: 0;
    right: 0;
}
        
.control-bar:not(p) .openbtn:hover,
        .control-bar:not(p) .homebtn:hover
        {
    transition: 0.3s;
  font-size : 1.5em;
    opacity: 0.5;
        
}
        
.control-bar p{
    font-size: 1.5em;
}



.openbtn {
  font-size: 1.3em;
  cursor: pointer;
  background-color: inherit;
  color: white;
/*  padding: 5px 5px;*/
  border: none;
  font-variant: small-caps;
    float: left;
    transition: 0.3s;
}
        
        .homebtn{
  font-size: 1.3em;
  cursor: pointer;
  background-color: inherit;
  color: white;
/*  padding: 5px 5px;*/
  border: none;
  font-variant: small-caps;
    float: right;
    transition: 0.3s;
}
        .homebtn a{
            text-decoration: none;
            color: white;
        }
    
}





